<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.androidpn.demoapp"
    android:versionCode="20101028"
    android:versionName="0.5.0" >

    <application>
        <activity
            android:name=".DemoAppActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.androidpn.client.NotificationDetailsActivity"
            android:label="Notification Details" >
        </activity>
        <activity
            android:name="org.androidpn.client.NotificationSettingsActivity"
            android:label="Notification Settings" >
        </activity>
        <activity
            android:name="org.androidpn.client.NotificationHistoryActivity"
            android:label="Notification History" >
        </activity>

        <service
            android:name="org.androidpn.client.NotificationService"
            android:enabled="true"
            android:label="NotificationService" >
            <intent-filter>
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>

        <receiver android:name="org.androidpn.client.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="org.androidpn.client.movie.MovieNotificationDetailActivity"></activity>
        <activity android:name="org.androidpn.client.movie.VideoActivity"></activity>

        <!--
			<meta-data android:name="ANDROIDPN_API_KEY"
			android:value="1234567890" />
        -->
    </application>



</manifest>