<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maotong.weibo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.WeiBoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DesignDemo">

        <!-- 主 Activity -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".api.WBDemoMainActivity"
            android:label="@string/app_name">

        </activity>

        <!-- 授权认证 -->
        <activity android:name=".api.WBAuthActivity" />
        <activity android:name=".api.WBAuthCodeActivity" />
        <activity android:name=".api.WBShareMainActivity" />

        <!-- 分享 -->
        <activity
            android:name=".api.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".api.WBShareResponseActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_RESP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登录/注销 -->
        <activity android:name=".api.WBLoginLogoutActivity" />

        <!-- OpenAPI -->
        <activity android:name=".openapi.WBOpenAPIActivity" />
        <activity android:name=".openapi.WBInviteAPIActivity" />
        <activity android:name=".openapi.WBLogoutAPIActivity" />
        <activity android:name=".openapi.WBPublicAPIActivity" />
        <activity
            android:name=".main.MovieDetailActivity"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
    </application>

</manifest>