<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UploadImage</servlet-name>
		<servlet-class>com.weibomovie.servlet.UploadImage</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>MovieServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.MovieServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ComingServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.ComingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PagelistServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.PagelistServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PageListMovieServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.PageListMovieServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LikeMovieServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.LikeMovieServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.weibomovie.servlet.LogoutServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMovieLikeServlet</servlet-name>
    <servlet-class>com.weibomovie.servlet.GetMovieLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MovieDetailServlet</servlet-name>
    <servlet-class>com.weibomovie.servlet.MovieDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MovieSearchServlet</servlet-name>
    <servlet-class>com.weibomovie.servlet.MovieSearchServlet</servlet-class>
  </servlet>










	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/servlet/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/servlet/UploadImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MovieServlet</servlet-name>
		<url-pattern>/servlet/MovieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ComingServlet</servlet-name>
		<url-pattern>/servlet/ComingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PagelistServlet</servlet-name>
		<url-pattern>/servlet/PagelistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PageListMovieServlet</servlet-name>
		<url-pattern>/servlet/PageListMovieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/servlet/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LikeMovieServlet</servlet-name>
		<url-pattern>/servlet/LikeMovieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/servlet/LogoutServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMovieLikeServlet</servlet-name>
    <url-pattern>/servlet/GetMovieLikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieDetailServlet</servlet-name>
    <url-pattern>/servlet/MovieDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MovieSearchServlet</servlet-name>
    <url-pattern>/servlet/MovieSearchServlet</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
