<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taguxdesign.maotong.mapapi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a76aea2e5bda3da6cff47c684fb19835"/>

        <activity android:name=".overlay.MarkerActivity">

        </activity>

        <activity android:name="com.taguxdesign.maotong.apidemo.map2d.demo.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.BasicMapActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.OsmMapActivity"
            android:label="@string/osm_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.BaseMapFragmentActivity"
            android:label="@string/base_fragment_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.CameraActivity"
            android:label="@string/camera_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.EventsActivity"
            android:label="@string/events_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.LayersActivity"
            android:label="@string/layers_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.MapOptionActivity"
            android:label="@string/mapOption_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.ScreenShotActivity"
            android:label="@string/screenshot_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.UiSettingsActivity"
            android:label="@string/uisettings_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.overlay.MarkerActivity"
            android:label="@string/marker_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.PolylineActivity"
            android:label="@string/polyline_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.GroundOverlayActivity"
            android:label="@string/groundoverlay_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".overlay.PolygonActivity"
            android:label="@string/polygon_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.overlay.CircleActivity"
            android:label="@string/circle_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.location.LocationSourceActivity"
            android:label="@string/locationsource_demo"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.geocoder.GeocoderActivity"
            android:label="@string/geocoder_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.route.RouteActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.busline.BuslineActivity"
            android:label="@string/busline_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".poisearch.PoiKeywordSearchActivity"
            android:label="@string/poikeywordsearch_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".poisearch.PoiAroundSearchActivity"
            android:label="@string/poiaroundsearch_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.district.DistrictActivity"
            android:label="@string/district_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.district.DistrictWithBoundaryActivity"
            android:label="@string/district_boundary_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.cloud.CloudActivity"
            android:label="@string/cloud_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.cloud.CloudDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.cloud.PreviewPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.share.ShareActivity"
            android:label="@string/share_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.weather.WeatherSearchActivity"
            android:label="@string/weather_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.basic.AbroadMapSwitchActivity"
            android:label="@string/abroad_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.poisearch.SubPoiSearchActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/subpoi_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.route.DriveRouteDetailActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.route.WalkRouteDetailActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taguxdesign.maotong.apidemo.map2d.demo.route.BusRouteDetailActivity"
            android:label="@string/route_demo"
            android:screenOrientation="portrait" />

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>